.search-header {
    display: flex;
    color: black;
    border-radius: 4px;
    
}

.search input::placeholder {
    font-size: 18px;
    font-weight: normal;

}

.search input{
    border-width: 0px;
    padding-left: 20px;
    font-size: 18px;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 30px;
}